//fonts:
$font-base: 'Roboto', sans-serif;

//fontSizes:

$font-sizes: (
  300: .75rem, //12
  400: .875rem, //14
  500: 1rem, //16
  600: 1.125rem, //18
  700: 2.25rem, //36
  800: 3.125rem, //50
);

//fontWeight

$font-weight: (
  regular: 400,
  medium: 500,
  bold: 900
);

