$colors: (
  primary: (
    700: #37447E,
  ),
  secondary: (
    100: #FFFFFF,
  ),
  blue: (
    100: #E7ECFF,
    300: #929ECC,
    500: #505F98,
    600: #37447E,
    700: #222F65,
    800: #111B47
  ),
  gray: (
    400: #939EA4,
    700: #454E54,
    600: #5D6970
    ),
  background: (
    100: #F0F0F0,
  ),
  line: (
    100: #CDD1D4,
  )
);